* {
  font-family: 'Roboto', sans-serif;
  color: #FFF;
  transition: all 1.9s;
}

a {
  color: #FFF !important;
}

i {
  color: #FFF !important;
}

body {
  background-color: #000;
}

.background-nav {
  background-color: #363636;
  width: 100%;
  min-height: 56px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.navbar-nav>li {
  padding-right: 25px;

}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar .main-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.top-title h1 {
  font-weight: 500;
  font-size: 50px;
}

.top-title p {
  font-size: 20px;
}

.top-title .p2 {
  font-size: 20px;
  margin-bottom: 50px;
}

.title-home-p {
  padding-bottom: 15px;
  font-weight: 500;
  display: block;
  margin-top: 100px;
}

.title-home {
  padding-bottom: 15px;
  font-weight: 500;
  display: block;
  padding-top: 85px;
}

.sub-title {
  padding-left: 10px;
}

.content-sub-title {
  padding-bottom: 25px;
}

.box-img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 50px 5px 50px;
}

.img-home {
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  border: 1px solid #CCC;
}

.icon-social {
  display: inline-block;
  font-size: 35px;
  margin-right: 19px;
  margin-bottom: 50px;
}

.icon-social a {
  text-decoration: none;
  color: black;
}

.about-me>div>h1 {
  padding: 40px 0 0 0;
}

.about-me>div>p {
  padding: 50px 10px;
  font-size: 20px;
}

.skills img {
  width: 80px;
  height: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.skills div {
  margin-top: 20px;
  margin-bottom: 20px;
}

.skills div i {
  font-size: 80px;
  color: blueviolet;
}

.contato label {
  padding-bottom: 10px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  min-height: 200px;
  background-color: #363636;
}